$red: #E11A14
$pink: #FAC8C6
$blue: #B3D5F9
$yellow: #F3D053
$black: #312B3B

/////// Ubiquitous States
.hidden
  display: none
  
.App
  display: flex

#nav
  padding: 20px 10px
  border-right: solid 1px red
  background-color: $red
  height: 100vh

  #full-menu