@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;400&family=Kings&family=Lora&display=swap')
@import 'react-big-calendar/lib/sass/styles'

$grenze: 'Grenze Gotisch', cursive
$kings: 'Kings', cursive
$lora: 'Lora', serif

$red: #E11A14
$pink: #FAC8C6
$blue: #B3D5F9
$yellow: #F3D053
$black: #312B3B

$tablet: 767px
$desktop: 1024px

/////// Ubiquitous States
.hidden
  display: none

.scroll-menu
  transform: translateX(0px)

.scroll-back-menu
  transform: translateX(-242px)

.fade
  opacity: 0
  z-index: 0

.fade-reverse
  opacity: 1
  z-index: 10

//////// Layouts and Styles  
body
  background-color: $pink

.App
  display: flex
  justify-content: flex-start
  
  #headline
    margin: 5px 5px 10px
    font-size: 40px

#nav
  padding: 20px 10px
  border-right: solid 1px red
  background-color: $red
  height: 100vh
  z-index: 2
  font-family: $grenze
  transition: 0.6s ease-out
  position: fixed
  overflow-x: hidden
  overflow-y: auto
  @media screen and (min-width: $tablet)
    width: 250px

  #blocker
    width: 300px
    height: 100vh
    background-color: $red
    position: absolute
    right: 10px
    transition: opacity 1s, z-index 1s
    clip-path: polygon(0% 0%, 100% calc(0% + 45px), 100% 100%, 0% 100%)

  div#mobile-nav
    @media screen and (min-width: $tablet)
      display: none

    .bars, .close
      position: fixed
      right: 10px

  #full-menu
    max-width: 280px
    width: 100%
    padding: 15px 0 0
    margin-bottom: 60px

    ul
      padding: 0

      a:hover, a:visited, a:link, a:active
        text-decoration: none
        color: $black

      li
        list-style: none
        vertical-align: middle
        margin-bottom: 20px
        position: relative
        
        .full-item, .sub-item
          background-color: $pink
          padding: 0 10px
          display: flex
          align-items: center
          text-align: center
          position: relative

        .full-item
          height: 35px
          font-weight: 400
          font-size: 27px
          clip-path: polygon(0% 0%, 97.2% 0%, 100% 100%, 2.8% 100%)

        .sub-item
          height: 26px
          font-size: 20px
          font-weight: 200
          clip-path: polygon(0% 0%, 97.5% 0%, 99% 100%, 1.5% 100%)
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-line-clamp: 1 /* number of lines to show */
          -webkit-box-orient: vertical
          -webkit-box-pack: start
          margin-top: -3px
          vertical-align: top
          

        .item-wrapper
          position: relative
          transform: rotate(10deg)          

        .sub-menu-item
          height: 20px
          margin-left: 15px
          margin-top: 3px
          margin-bottom: 18px

          .menu-background
            clip-path: polygon(0% 0%, 97.5% 0%, 99% 100%, 1.5% 100%)

        .menu-background
          background-color: $black
          right: -3px
          left: -3px
          top: -3px
          bottom: -3px
          position: absolute
          z-index: -1
          clip-path: polygon(0% 0%, 97.2% 0%, 100% 100%, 2.8% 100%)
          


#body
  max-width: 100%
  z-index: 1
  color: $black
  position: absolute
  @media screen and (max-width: $tablet)
    left: 59px
  @media screen and (min-width: $tablet)
    left: 281px

  h1, h2, h3, h4
    font-family: $grenze
    margin: 0

  h2
    font-size: 32px

  h3
    font-size: 24px

  p, li
    font-family: $lora

  div.info-cont
    margin: 5px 0 15px

    p
      margin: 0 0 5px

  #post
    padding: 0 10px 0 10px
    border: 1px solid $black
    margin: 0 10px 10px 0
    border-radius: 5px
    background-color: $yellow

    img
      max-width: 100%

  #home, #posts, #about

    #hook, #recent, #upcoming, .year-section, .about-section
      padding: 0 10px 0 10px
      border: 1px solid $black
      margin: 0 10px 10px 0
      border-radius: 5px
      background-color: $blue

      .home-title
        margin: 8px 0

      img
        max-width: 100%

      a:hover, a:visited, a:link, a:active
        // text-decoration: none
        color: $black

      ul
        padding: 0
        li
          list-style: none
          margin-bottom: 10px
    .section-header
      display: flex
      justify-content: space-between
      align-items: center

    #recent
      background-color: $yellow

    #calendar
      display: none